.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.part {
    margin-bottom: 50px;
}

hr {
    margin-top: 0rem;
}

h4 {
    display: inline;
    vertical-align: middle;
}

header {
    background: linear-gradient(180deg, white, #A0A0A0);
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
}

.link-product:visited, .link-product:link {
    text-decoration: none;
    color: black;
}

input:invalid {
    color: red;
}

.pagination {
    font-size: 90%;
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
	/*border: solid 1px #AAE;*/
	color: #000;
	background-color: #E9E9E9;

}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 2px 10px;
    margin-right: 5px;
	margin-bottom: 5px;
    border-radius: 4px;
}
span.prev, span.next, a.prev, a.next {
    display: block;
    float: left;
    padding: 3px 5px;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination a:hover
{
	background-color: #5bc0de;
}

.pagination .current {
    background: #5bc0de;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:transparent;
	background:#fff;
}

.locale {
    float: left;
    width: 50%;
    align-items: right
}

.bwm {
    float: left;
    width: 50%;
}

.localeimg {
    float: right    ;
    margin-top: 3px;
    margin-right: 3px;
    width: 18px;
    height: 16px;
}

.col-img {
    border-radius: 20px;
    margin-bottom: 20px;
}

.home {
    padding: 2% 2% 80px 2% ;
    height: 400px;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
}
